<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GorillaGrills Menu</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

    <!-- HEADER -->
    <div class="header">
        <!-- <img src="/images/logo.png" alt="GorillaGrills Logo"> -->
        <h1>GorillaGrills Menu 🍔</h1>
    </div>



</body>
</html>