* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.9);
    color: white;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    color: #ff4d00;
}

/* HERO */
.hero {
    height: 100vh;
    background: url("images/homebg.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
}

/* OVERLAY BOX */
.overlay-box {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 40px;
    margin-left: 80px;
    max-width: 300px;
}

.overlay-box h1 {
    margin-bottom: 15px;
}

.overlay-box p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: #ff4d00;
    border: none;
}

/* FOOTER */
.footer {
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.insta-link{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.insta-link:hover {
    color: #ff4d00;
}

.location-link{
     text-decoration: none;
    color: white;
    transition: 0.3s;
}

.location-link:hover {
    color: #ff4d00;
}

/* NAV LINKS ALIGN */
.nav-links {
    display: flex;
    align-items: center;
}

/* CART ICON */
.cart-icon {
    position: relative;
    margin-left: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/* HOVER EFFECT */
.cart-icon:hover {
    color: #ff4d00;
}

/* CART COUNT BADGE */
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #ff4d00;
    color: white;
    font-size: 9px;
    padding: 2px 6px;
    border-radius: 50%;
}
/* DROPDOWN */
.dropdown {
    position: relative;
    margin-left: 20px;
}

/* BUTTON */
.more-btn {
    cursor: pointer;
    color: white;
}

/* POPUP BOX */
.dropdown-content {
    position: absolute;
    top: 30px;
    right: 0;
    background: black;
    padding: 10px 0;
    min-width: 150px;
    display: none;
    flex-direction: column;
}

/* LINKS */
.dropdown-content a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
}

/* HOVER EFFECT */
.dropdown-content a:hover {
    /* background: #111; */
    color: #ff4d00;
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-content {
    display: block;
}